# Virtual Environment
.venv/
venv/
env/
ENV/
src/web_ui/frontend/node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo
.continue

# Environment variables
.env
.env.local

# Testing
.coverage
htmlcov/
.pytest_cache/ 

*.db
db/
data/
!config/data/
!src/data/
!src/data/db/
!src/data/downloader/data/
results/
temp/

#logs
logs/
*.zip
*.log
*.csv
!src/data/downloader/data/russell3000_static.csv
*.json
*.jsonl
*.jsonl.gz
*.jsonl.gz.part
*.jsonl.gz.part.tmp
*.jsonl.gz.part.tmp.tmp

!config/*/*.yaml
!config/*/*.json
!config/*/*/*.json
!config/*/*/*/*.json

!src/web_ui/frontend/*.json
!src/web_ui/frontend/dist

*.pt
*.pth
*.pkl
*.png
