# Virtual Environment
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Testing
.coverage
htmlcov/
.pytest_cache/ 

db/
data/
!src/data/
results/
temp/

#logs
logs/
*.zip
*.log
*.csv
*.json
*.jsonl
*.jsonl.gz
*.jsonl.gz.part
*.jsonl.gz.part.tmp
*.jsonl.gz.part.tmp.tmp

!config/*/*.json
!config/*/*/*.json

